1.

In [1]:
def hellofunction():
    print("hello")

In [2]:
hellofunction()

hello

2.

In [3]:
def hellofunction2(name):
    return "Hello "+ name

In [4]:
hellofunction2("Luc")

'Hello Luc'

In [5]:
hellofunction2("Marie")

'Hello Marie'

3.

In [7]:
def hellofunction3(name="Luc"):
    return "Hello "+ name

In [8]:
hellofunction3("Marie")

'Hello Marie'

In [9]:
hellofunction3()

'Hello Luc'

4.

In [ ]:
"f-strings"

In [19]:
def hellofunction4(age, name):
    return "Hello {}, you are {} old".format(name.upper(), age)

In [20]:
hellofunction4(25, "Marie")

'Hello MARIE, you are 25 old'

5.

In [21]:
hellofunction4(25, "Marie")

'Hello MARIE, you are 25 old'

In [22]:
hellofunction4("Marie", 25)

AttributeError: 'int' object has no attribute 'upper'

In [23]:
hellofunction4(name="Marie", age=25)

'Hello MARIE, you are 25 old'

In [24]:
hellofunction4(age=25, name="Marie")

'Hello MARIE, you are 25 old'

6.

In [26]:
inputs = {'Luc': 25, 
          'Corentin': 18, 
          'Thomas': 29, 
          'Julie': 22, 
          'Juliette': 21}

In [33]:
for name, age in inputs.items():
    print(hellofunction4(age, name))

Hello LUC, you are 25 old
Hello CORENTIN, you are 18 old
Hello THOMAS, you are 29 old
Hello JULIE, you are 22 old
Hello JULIETTE, you are 21 old

7.

In [41]:
list_of_arguments = ['Luc', 25]

hellofunction4(*list_of_arguments[::-1])

'Hello LUC, you are 25 old'

8.

In [43]:
dict_of_arguments = {'age':25, 'name': 'Luc'}

hellofunction4(**dict_of_arguments) # <=> hellofunction4(age=25, name="Luc")

'Hello LUC, you are 25 old'

9.

In [44]:
inputs = {'Luc': 25, 'Corentin': 18, 'Thomas': 29, 'Julie': 22, 'Juliette': 21}

In [49]:
for tuple_ in inputs.items():
    print(hellofunction4(*tuple_[::-1]))

Hello LUC, you are 25 old
Hello CORENTIN, you are 18 old
Hello THOMAS, you are 29 old
Hello JULIE, you are 22 old
Hello JULIETTE, you are 21 old

1.

In [60]:
def multiply(*args):
    result = args[0]
    
    for arg in args[1:]:
        result *= arg
    return result

In [61]:
multiply(1)

1

In [63]:
print(multiply(8,2,3))
print(multiply(19,2,10))
print(multiply(1))

48
380
1

In [67]:
def multiply2(*args, inverse=False):
    result = args[0]
    
    for arg in args[1:]:
        result *= arg
    
    if inverse:
        return 1/result
    return result

In [69]:
print(multiply2(8,2,3, inverse=True))
print(multiply2(19,2,10))
print(multiply2(1, inverse=True))

0.020833333333333332
380
1.0

3.

In [80]:
def multiply3(*args, **kwargs):
    print( args) # => tuple
    print( kwargs)# => dictionnaire / mapping
    print( "\n"*1)
    
    result = args[0]
    
    for arg in args[1:]:
        result *= arg

    if kwargs.get("inverse", False):
        return 1/result
    if kwargs.get("negation", False):
        return -result
    return result

In [83]:
multiply3(8,2,3, inverse=True, negation=True)
multiply3(19,2,10)
multiply3(1, inverse=True)

(8, 2, 3)
{'inverse': True, 'negation': True}


(19, 2, 10)
{}


(1,)
{'inverse': True}

1.0

In [90]:
True+ 3*True - 18-True*21

-35

In [92]:
print(multiply3(8,2,3,True))

(8, 2, 3, True)
{}


48

# Exo5

In [94]:
dico = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

In [100]:
def fonction_de_tri(tuple_):
    return tuple_[1]

In [102]:
dict(sorted(dico.items(), key=fonction_de_tri))

{0: 0, 2: 1, 1: 2, 4: 3, 3: 4}

In [103]:
dico = {1: 'sebastien', 2: "luc", 3:"marie", 4: "iazoiaozeioieza"}

In [104]:
def fonction_de_tri2(tuple_):
    return len(tuple_[1])

In [105]:
sorted(dico.items(), key=fonction_de_tri2 )

[(2, 'luc'), (3, 'marie'), (1, 'sebastien'), (4, 'iazoiaozeioieza')]

In [110]:
sorted(
    [2,1,3, "salut", 29, 9988928329393], 
    key=lambda el: len(str(el))
)

[2, 1, 3, 29, 'salut', 9988928329393]